.input {
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  padding: 8px 20px;
  border: 2px solid #cbd5e0;
  margin-top: -1vh;
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  align-content: right;
  font-weight: 900;
}
.text {
  display: flex;
  flex-wrap: wrap;
  align-content: right;
}
